body{
    margin: 0;
    padding: 0;
    background-image: url("img/fond.png");
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #808080;
    margin-top: 20px;
}

/*     Header  */

.navbar{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #808080;
}
.navbar a {
    color: #808080;
    text-decoration: none;
}
.navbar a:hover {
    color: #dd3a3a;
}
.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
}
.nav-logo img{
    width: 50px;
}
.nav-logo h2{
    
    margin-left: 10px;
}
.link-block{
    display: grid;
    text-align: center;
}
.link-block i{
    font-size: 25px;
}

.welcome{
    background-image: url("img/bg_header.png");
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.welcome div{
    text-align: center;
    width: 80%;
}

/*   Container   */

.container{
    width: 80%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

.section-row{
    width: 100%;
    padding: 5px;
    text-align: center;
}

.section-row i{
    padding: 20px;
    font-size: 30px;
    background-color: #80808067;
    border-radius: 50px;
    color: #808080;
    border: #808080 solid 1px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.section-protfolio article{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-protfolio img{
    width: 50%;
}
.section-protfolio h1{
    text-align: center;
}
.section-protfolio p{
    font-size: larger;
    line-height:2em;
}
.img-right{
    float: right;
    margin-left: 10px;
}
.img-left{
    float: left;
    margin-right: 10px;
}
.contact{
    text-align: center;
}
.formulaire{
    width: 100%;
    height: max-content;
    margin-bottom: 50px;
}
.form-group{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
}
.form-item img{
    position: absolute;
    width: 30px;
    margin-left: 10px;
}
.form-item{
    height: 50px;
    display: flex;
    align-items: center;
}

.form-input{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid #808080 1px;
    padding-left: 50px;
}
